
.flower{
	background: #999999;
	width: 100%;
	height: 70%;
}

.main-cont{
	background-color: #3d5c5c;
	width: 100%;
}

.main-wrapper{
	
}

.main-nav{
	height: 150px;
}

#sub-main{
	
}

.main-wrapper li a{
	text-decoration: none;
	border-radius: 5px;
	color: white;
	padding-left: 10px;
	height: 40px;
}

.main-wrapper li a:hover {
	background-color: white;
	color: black;
	text-decoration: none;
	height: 70px;
}

a {
	font-size: 15px;
	padding: 5px;
	margin-bottom: 20px;
	text-transform: lowercase;
	
}

a:hover {
	font-size: 15px;
	padding: 5px;
	background-color: white;
	margin-bottom: 20px;
	text-transform: lowercase;
	height: 50px;
}


#foot{
	background: #262626;
	height: 300px;
	width: 100%;
}



#btn{
	background-color: green;
	width: 100px;
	height: 50px;
	margin-left: 50px;
}

.eserv{
	background:  #c2d6d6;
	width: 100%;
	border: groove red 1px;
}

.alert{
	color: red;
	font-size: 20px;
	width: 40%;
}

#logo{
	width: 60px;
	border-radius: 20px;
}

.signup{
	margin-left: 40%;
}

.login-form{
	float: right;
	margin-right: 20px;
}


/* E-services*/
#bsform{
	margin-left: 10%;
	width: 80%;
	background-color: #c2d6d6;
	padding-left: 10%;
}


#projpro{
	margin-left: 10%;
	width: 80%;
	background-color: #c2d6d6;
	padding-left: 10%;
}

#lice{
	margin-left: 10%;
	width: 80%;
	background-image: url('images/ktl.jpg');
	padding-left: 10%;
	border-radius: 10px;
}

#lice h2{
	color: blue;
}

/*Profile*/
#main-profpage {
	
	
}

#profileimg{
	width: 60%;
	height: 140px;
	background: gold;
	border-radius: 90px;
}

#right-side {
	float: left;
	width: 60%;
	border-radius: 10px;
	height: 600px;
	overflow: scroll;
}

#left-side {
	float: right;
	background-image: url('images/mountain (2).jpg');
	width: 40%;
	height: 600px;
	border-radius: 10px;
	overflow: scroll;

}

/*tables*/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 40px;
}
th, td {
    padding: 5px;
}

/*chatting*/

#chats{
	background: rgba(153, 255, 255, 0.9);
	width: 60%;
	border-radius: 10px;
	float: right;
	color: black;
	font-size: 13px;
	font-style: italic;
}

#adminchats{
	background: rgba(255, 255, 153, 0.9);
	width: 60%;
	border-radius: 10px;
	float: left;
	color: blue;
	font-size: 13px;
	font-style: italic;
}

.main-cont{
	background-image: url('images/kenya-economy.jpg');
	
}