/*body*/
body{
	background-color: silver;
}

/*Main container*/
.main-cont{
	width: 100%;
	background-color: #c2d6d6;
	
}

/*links*/
ul{
	background: #006666;
	height: 50px;
}

ul li{
	display: inline;
	padding-left: 10px;
	text-decoration: none;
}

ul li a{
	text-decoration: none;
	color: white;
}

/*footer*/
.ft{
	background-color: #f4514547
}

/*table*/
table{
	background-color: #ffffb3;
	color: black;
	margin-left: 0px;
}
table, th, td {
    border: 1px solid #5c8a8a;
    border-collapse: collapse;
    margin-left: 40px;
    border: 1px groove white;
}

th, td {
    padding: 5px;
}

.adminbtns{
	float: right;
	margin-left: 30%;
}

/*chatting*/

#adminchatpanel{
	width: 40%;
	background-image: url('images/nai2.png');
	width: 40%;
	height: 600px;
	border-radius: 10px;
	overflow-y: scroll;
	margin-left: 20%;
}


#chats{
	background: rgba(153, 255, 255, 0.9);
	width: 60%;
	border-radius: 10px;
	float: left;
	color: black;
	font-size: 13px;
	font-style: italic;
}

#adminchats{
	background: rgba(255, 255, 153, 0.9);
	width: 60%;
	border-radius: 10px;
	float: right;
	color: blue;
	font-size: 13px;
	font-style: italic;
}

